*
{
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(to right bottom, #f12711, #f5af19);
    height: 100vh;
    width: 100%;
}

.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 250px;
    transform: translateX(-50%) translateY(-50%) scale(1.25);
    padding: 5px 5px;
    border: 1px solid black;
    background: #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #000;
}

.button
{
    height: 50px;
    width: 50px;
    background: #f2f2f2;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    border: 0.5px solid black;
    transition: 0.3s ease-in-out;
}

.button:hover
{
    box-shadow: 1px 1px 7px 1px #000;
}

td{
    width: 63px;
}

.textview
{
    margin: 5px 5px;
    padding: 0 10px;
    height: 60px;
    width: -webkit-fill-available;
    font-size: 25px;
    outline: none;
    border-color: black;
    border-radius: 8px;
}

.textview:hover
{
    box-shadow: 1px 1px 8px -1px #000;
}

table{
    width: 250px;
    height: 330px;
    margin-left: 5px;
}

#all_clear, #clear
{
    color: red;
    font-size: 28px;
}

#equal
{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.equal_button
{
    margin-left: 1.5px;
    height: 50px;
    width: 116px;
    background: #ff6103;
    outline: none;
    border-radius: 9px;
    border: 0.5px solid #222;
    cursor: pointer;
}

.equal_button:hover
{
    box-shadow: 1px 1px 7px 1px #000;
}